<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17709293166-p7anbtt9oi7egs68m9e05rjej362dpgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17709293166-p7anbtt9oi7egs68m9e05rjej362dpgu</string>
	<key>API_KEY</key>
	<string>AIzaSyDAGl0AgSaBm1TL5C7vsDShqYt6FyPY3S4</string>
	<key>GCM_SENDER_ID</key>
	<string>17709293166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.IncidentTableView</string>
	<key>PROJECT_ID</key>
	<string>clc-panicapp</string>
	<key>STORAGE_BUCKET</key>
	<string>clc-panicapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:17709293166:ios:2b4b92a1c2a8c68b49107f</string>
</dict>
</plist>
